<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>multi-functionknife.heibai.im</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>07C86DEE-C576-4203-98FA-4DC38AFCB978</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2473D68A-7AE9-4949-BA06-4C3C4DD9BDE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ABAA4A88-A94B-4A9E-8C66-236C6869E8A6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>将结果粘贴到当前光标处</string>
			</dict>
		</array>
		<key>5688C1AA-D2C2-4D7E-9398-D527A83BAAA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2473D68A-7AE9-4949-BA06-4C3C4DD9BDE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>754857F3-B381-4F08-8848-8E4A48C2E656</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2473D68A-7AE9-4949-BA06-4C3C4DD9BDE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ABAA4A88-A94B-4A9E-8C66-236C6869E8A6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>将结果粘贴到当前光标处</string>
			</dict>
		</array>
		<key>7E1E4C35-35FB-43D0-A08C-83A8A269F839</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2473D68A-7AE9-4949-BA06-4C3C4DD9BDE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ABAA4A88-A94B-4A9E-8C66-236C6869E8A6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>将结果粘贴到当前光标处</string>
			</dict>
		</array>
		<key>8F8B03AB-EFC5-4EC1-A7F0-DE2BE679705B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2473D68A-7AE9-4949-BA06-4C3C4DD9BDE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ABAA4A88-A94B-4A9E-8C66-236C6869E8A6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>将结果粘贴到当前光标处</string>
			</dict>
		</array>
		<key>A32956AB-7A8C-45ED-9FCB-7CA3160265E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2473D68A-7AE9-4949-BA06-4C3C4DD9BDE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5688C1AA-D2C2-4D7E-9398-D527A83BAAA5</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>将UUID转换为大写</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ABAA4A88-A94B-4A9E-8C66-236C6869E8A6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>将结果粘贴到当前光标处</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>heibai</string>
	<key>description</key>
	<string>multi-function knife</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>M-Knife</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rand</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python bk.py "rand {query}"</string>
				<key>subtext</key>
				<string>生成随机串，默认8位最长64位</string>
				<key>title</key>
				<string>rand 8</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7E1E4C35-35FB-43D0-A08C-83A8A269F839</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2473D68A-7AE9-4949-BA06-4C3C4DD9BDE5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>len</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python bk.py "len {query}"</string>
				<key>subtext</key>
				<string>测量字符串长度</string>
				<key>title</key>
				<string>len abc
Measure the length of the string
Measure the length of the string
测量字符串长度</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>07C86DEE-C576-4203-98FA-4DC38AFCB978</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>print "{query}".upper()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5688C1AA-D2C2-4D7E-9398-D527A83BAAA5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>uuid</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python bk.py "uuid {query}"</string>
				<key>subtext</key>
				<string>生成UUID</string>
				<key>title</key>
				<string>uuid
Measure the length of the string
Measure the length of the string
测量字符串长度</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A32956AB-7A8C-45ED-9FCB-7CA3160265E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>lower</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python bk.py "lower {query}"</string>
				<key>subtext</key>
				<string>转换成小写字母</string>
				<key>title</key>
				<string>lower ABC
Measure the length of the string
Measure the length of the string
测量字符串长度</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8F8B03AB-EFC5-4EC1-A7F0-DE2BE679705B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ABAA4A88-A94B-4A9E-8C66-236C6869E8A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>upper</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python bk.py "upper {query}"</string>
				<key>subtext</key>
				<string>转换成大写字母</string>
				<key>title</key>
				<string>upper abc
Measure the length of the string
Measure the length of the string
测量字符串长度</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>754857F3-B381-4F08-8848-8E4A48C2E656</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07C86DEE-C576-4203-98FA-4DC38AFCB978</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>2473D68A-7AE9-4949-BA06-4C3C4DD9BDE5</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>5688C1AA-D2C2-4D7E-9398-D527A83BAAA5</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>754857F3-B381-4F08-8848-8E4A48C2E656</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>7E1E4C35-35FB-43D0-A08C-83A8A269F839</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8F8B03AB-EFC5-4EC1-A7F0-DE2BE679705B</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>A32956AB-7A8C-45ED-9FCB-7CA3160265E1</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>ABAA4A88-A94B-4A9E-8C66-236C6869E8A6</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>heibai.im</string>
</dict>
</plist>
